.pic{
    background:rgba(0, 0, 0,.85) url('../assets/logo512.png') no-repeat fixed center;
    height: 100vh;
    color:white;
    
}
@media (max-width:500px){
    .responsive{
        width: 100%!important;
    }
}
